*{
    margin: 10;
    padding: 0%;
    box-sizing: border-box;
}
/*Mobile*/
@media screen and (max-width: 990px) {
    body{
            background-color: #000000;
    }
    ul{
        flex-direction: column;
        text-align: center;
    }
    a{
    font-size: 20px;
    }
    li{
    font-size: 5px;
    }
    }

    
/*Barra de Navegacion*/
nav ul
{
    display:flex ;
    align-items: center;
    background-color: black;
    justify-content: space-around;
    
}

nav ul a:hover
{
    color: gray;
}
/*Items de la barra de navegacion*/
li
{
    list-style: none;
    border: 1px solid black;
    background-color: black;
    padding: 10px;

}
a
{
    text-decoration: none;
    color: gold;
    
}
/*Logo Nav*/
.container_logo
{
    height: 100px;
    width: 100px;
    padding: 0px;
    
}
.logo
{
    width: 100%;
    height: 100%;

}
.LogoTipa
{
 display: flex;   
 justify-content: center;
}




footer
{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    color: gold;
}

