@import "./partials/variables";
@import "./partials/reset";
@import "./partials/header";
@import "./partials/footer";

@font-face {
    font-family: 'Andigo';
    src: url(../Fuentes/ANDIGO.ttf);
}
/*Mobile*/
@media screen and (max-width: 819px) {
    body{
            background-color: #000000;
    }
    ul{
        flex-direction: column;
        text-align: center;
    }
    a{
    font-size: 20px;
    }
    li{
    font-size: 5px;
    }
    }


.LogoTipa{
    display: flex;   
    justify-content: center;
    }
    
fieldset{
        align-content: center;
        justify-content: space-evenly;
        background-color: black ;
        color: gold;
        border-color: gold;
    }


form{
        width: 500px;
        margin: auto;
        background: rgba(0, 0, 0, 0.4);
        padding: 10px 20px;
        box-sizing: border-box;
        margin-top: 150px;
        border-radius: 10px;

        h2{
            color: #000;
            text-align: center;
            margin: 0;
            font-size: 30px;
            margin-bottom: 20px;
        }

        input, textarea{
            width: 100%;
            margin-bottom: 20px;
            padding: 7px;
            box-sizing: border-box;
            font-size: 17px;
            border: none;
        }

        textarea{
            min-height: 100px;
            max-height: 200px;
            max-width: 100%;
        }
        
        .boton{
            background: #31384a;
            color: #fff;
            padding: 20px;
        }
        
        #boton:hover{
            cursor: pointer;
        }
    }
    
    .tipero{
        color: gold;
    }

