@import "./partials/variables";
@import "./partials/reset";
@import "./partials/header";
@import "./partials/hero";

@font-face {
    font-family: 'Andigo';
    src: url(../Fuentes/ANDIGO.ttf);
}
/*Mobile*/
@media screen and (max-width: 819px) {
    body{
            background-color: #000000;
    }
    ul{
        flex-direction: column;
        text-align: center;
    }
    a{
    font-size: 20px;
    }
    li{
    font-size: 5px;
    }
    }
.LogoTipa{
    display: flex;   
    justify-content: center;
    }
    legend{
    color: goldenrod;
    font-weight: bold
    }
    fieldset{
        justify-content: space-evenly;
        background-color: black ;
        color: gold;
        border-color: gold;
    } 
footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    color: gold;
}
