/* Header */
.logo {
    display: flex;
    align-items: center;

    a {
        img {
            height: 50px;
            padding-bottom: 2px;
        }
    }
}

/* Barra de navegación */
.navbar {
    color: goldenrod;

    ul {
        li {
            list-style: none;
            border: 1px solid black;
            background-color: black;

            a {
                text-decoration: none;
                color: gold;
            }
        }
    }
}