header {
    background-color: black;
    display: flex;
    gap: 20px;
    list-style: none;

    .container_logo{
        height: 100px;
        width: 100px;
        padding: 0px;
        }    
        
    .menu {
            display: flex;
            align-items: center;
        }
        .navbar{
            display:flex ;
            align-items: center;
            justify-content: space-around;
            background-color: black;
            border: 500px;
            border-color: goldenrod;

            li{
                list-style: none;
                border: 1px solid black;
                background-color: black;
                padding: 10px;
                    a{
                    text-decoration: none;
                    color: gold;
                    &:hover{
                        color: gray;
                        }
                    }
                }
                }
            
            .logo{
                width: 100%;
                height: 100%;
            }
                
        }
    
    

    